@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {    
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 30px;
    height: 30px;
}

:root {
    --color-write: #ffffff;
    --color-red: #F03C42;
    --color-blue: #222374;
    --color-gray: #CCCCCC;
    --color-black: #000000;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 1px;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--color-red);
    color: var(--color-write);
}

header h1 {
    display: inline;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

header p {
    align-items: center;
    font-size: 14px; 
    font-weight: 400;
    padding: 0 10px;   
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-main div {
    display: flex;
    align-items: center;
}

/*Main*/

/*Seção One*/

.space h2 {
    width: 357px;
    height: 44px;
    color: var(--color-write);
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 40px;
}

.space {
    height: 418px;
    display: block;
    align-items: center;
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-black);
}

.card {
    height: 127px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 10px;
    background-color: var(--color-gray);
    border-radius: 8px;
}

.card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card p {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}

.card-one {
    width: 960px;
    margin: 20 0px;
}

/*Seção Two*/

.space-two {
    height: 880px;
    display: block;
    align-items: center;
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: var(--color-write);
    color: var(--color-red);
}

.modalities {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;;
    align-items: center;
    background-color: var(--color-write);
    color: var(--color-red);
}

.card-two {
    width: 960px;
    height: 106px;
    background-color: var(--color-blue);
    color: var(--color-write);
    display: block;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 20px;
    border-radius: 8px;
}

.space-two h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-red);
    margin-bottom: 40px;    
}

.card-two h3 {
    font-size: 20px;
    font-weight: 700;  
}

.card-two p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray);
    margin-top: 20px;
}

/*Footer*/

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 262px;
    background-color: var(--color-black);
    color: var(--color-write);
}

.ctrl-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.ctrl-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.ctrl-one p {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px; 
    align-items: center  
}

.ctrl-two p {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px; 
    align-items: center  
}

.ctrl-two address {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px; 
    align-items: center  
}

.ctrl-one a {
    width: 125px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 5px;
    padding: 0 10px; 
    align-items: center;
}

a {
    color: var(--color-write);
    text-decoration: none;
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-main div {
    display: flex;
    align-items: center;
}

